:root {
  --text-title: 1.125rem;
  --text-body: 0.875rem;
  --text-small: 0.75rem;
  --text-tag: 0.625rem;

  --color-accent: #7c19ee;
  --color-accentbg: #f2eafd;
  --color-container: #fafaf9;
  --color-linebreak: #e5eaf0;
  --color-background: #ffffff;
  --color-maintext: #20293a;
  --color-sectext: #394150;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
}
h1 {
  font-size: var(--text-title);
}
label {
  font-size: var(--text-tag);
}

body {
  font-family: "Sora", sans-serif;
  font-size: var(--text-body);
  background: var(--color-background);
  color: var(--color-text);
  width: 100%;
  height: 100vh;
}

.wrapper {
  max-width: 420px;
  width: 100%;
  margin-inline: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 368px;
  width: 80%;
  height: max-content;
  background-color: var(--color-container);
  box-shadow: 16px 14px 44px hsl(219, 17%, 27%, 0.1);
  border-radius: 1.4em;
}

.article__image {
  border-radius: 0.55em;
  margin: 1em;
  margin-bottom: 1.2em;
}

.tag {
  background-color: var(--color-accentbg);
  padding: 0.4em 1em;
  border-radius: 1em;
  color: var(--color-accent);
  margin: 1.2em;
}

.article__body {
  margin-top: 1.25em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

header {
  margin-inline: 1.2em;
  margin-bottom: 1.4em;
}
.details__heading {
  font-size: var(--text-title);
  margin-bottom: 0.5em;
}
.details__paragraph {
  color: var(--color-sectext);
  font-size: var(--text-small);
  line-height: 1.6;
  text-wrap: balance;
}
.article-author {
  font-size: var(--text-small);
  color: var(--color-sectext);
  border-top: var(--color-linebreak) 1px solid;
  padding: 1.4em;
}

.author-info {
  font-size: var(--text-body);
}
